{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid py-4" style="margin: 7% 5% 0 5%">
    <div class="row">
      <div class="col-lg-10">
        <div class="card">
          <div class="card-header pb-0">
            <h6>
              Task Detail
              <a href="/">
                <button type="button" class="btn btn-danger w-auto me-1 mb-0" style="float: right">
                   Delete
                </button>
              </a>
              <a href="/">
                <button type="button" class="btn btn-info w-auto me-1 mb-0" style="float: right">
                  Update
                </button>
              </a>
            </h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h6 class="mb-0">Name:</h6>
                <p class="text-secondary">{{ task.name }}</p>
              </li>
              <li class="list-group-item">
                <h6 class="mb-0">Task Type:</h6>
                <p class="text-secondary">{{ task.task_type }}</p>
              </li>
              <li class="list-group-item">
                <h6 class="mb-0">Deadline:</h6>
                <p class="text-secondary">{{ task.deadline }}</p>
              </li>
              <li class="list-group-item">
                <h6 class="mb-0">Priority:</h6>
                <p class="text-secondary">{{ task.priority }}</p>
              </li>
              <li class="list-group-item">
                <h6 class="mb-0">Is completed:</h6>
                <p class="text-secondary">
                  {{ task.is_completed|yesno:"Completed,Uncompleted" }}
                </p>
              </li>
              {% if task.assignees %}
                <div class="card-header pb-0">
                  <h6>Assignees</h6>
                </div>
                {% for assignee in task.assignees.all %}
                  <li class="list-group-item">
                    <h6 class="mb-0">Username:</h6>
                    <p class="text-secondary">{{ assignee.username }}</p>
                  </li>
                {% empty %}
                  <li class="list-group-item">
                    <p class="text-secondary">No assignees found.</p>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
